{% extends "base_generic.html" %}
{% block title_status %}Database | {% endblock %}
{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <h1 class="text-center">Basic Steam Stats Database</h1>
        <p>If you use the steam stats generator, and our database doesn't already have the game, then we need to store the games information in our database to help run the app faster.</p>

        <p>We also store the 'unqiue hit' of each game. This column shows how many people who have used this site have that particular game in their steam library.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h6>{{ games|length }} games in database</h6>
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-hover" id="ownedGamesTable" data-toggle="table" data-search="true" data-pagination="true">
                    <thead>
                        <tr>
                            <th><i class="bi bi-card-image"></i></th>
                            <th data-sortable="true" data-field="dbid">DB ID</th>
                            <th data-sortable="true" data-field="appid">AppID</th>
                            <th data-sortable="true" data-field="name">Name</th>
                            <th data-sortable="true" data-field="price">Price (NZD)</th>
                            <th data-sortable="true" data-field="unique_hits">Unique Hits</th>
                            <th data-sortable="true" data-field="last_updated">Last Updated</th>                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                        <tr class="align-middle">
                            <td> 
                            <img src="{{ game.icon_url }}" />
                            </td>
                            <td>{{ game.id }}</td>
                            <td>{{ game.appid }}</td>
                            <td><a href="https://store.steampowered.com/app/{{ game.appid }}/" target="_blank">{{ game.name }}</td>
                            {% if game.price == 0.00 %}
                            <td>0.00 (FREE)</td>
                            {% else %}
                            <td>{{ game.price|default_if_none:"--" }}</td>
                            {% endif %}
                            <td>{{ game.unique_hits_count }}</td>
                            <td>{{ game.last_updated }}</td>                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock%}