{% extends "base_generic.html" %}
{% block title_status %}{{ player_summary.personaname }} | {% endblock %}
{% block content %}


<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <img src="{{ player_summary.avatarfull }}" style="height: 64px; width: 64px;">
        <div class="d-flex justify-content-between">
          <span><strong>Player Name</strong></span>
          <span>{{ player_summary.personaname }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Player Level</strong></span>
          <span>{{ player_level }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Country Code</strong></span>
          <span>{{ player_summary.loccountrycode }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>SteamID</strong></span>
          <span>{{ steam_ids.steamid }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>SteamID3</strong></span>
          <span>[{{ steam_ids.steamid3 }}]</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Steam32ID</strong></span>
          <span>{{ steam_ids.steam32id }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Steam64ID</strong></span>
          <span>{{ steam_ids.steam64id }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Current Status</strong></span>
          <span>{{ player_summary.personastate }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Last Log Off</strong></span>
          <span>{{ player_summary.lastlogoff }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Private/Public Profile</strong></span>
          <span>{{ player_summary.profilestate }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Profile Creation Date</strong></span>
          <span>{{ player_summary.timecreated }}</span>
        </div>
        <span><strong=><a href="{{ player_summary.profileurl }}" target="_blank">Visit steam profile in a new tab</a></strong>
      </div>      
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center align-items-center text-center g3">
  {% if games %}
  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4" style="background-color: var(--bs-dark-bg-subtle)">
      <div class="card-body"><strong>{{ games|length }} games in library</strong></div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4" style="background-color: var(--bs-dark-bg-subtle)">
      <div class="card-body"><strong>{{ total_hours_played }} hours played</strong></div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4" style="background-color: var(--bs-dark-bg-subtle)">
      <div class="card-body"><strong>~ NZ$ {{ total_dollars_spent }} spent</strong></div>
    </div>
  </div>
  {% else %}
  <h6>[unknown] games in library</h6>
  {% endif %}
</div>

{% if not games %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <p>Games list or profile is private, cannot display games list</p>
  </div>
</div>
{% else %}
<div class="row justify-content-center">
  <div class="col-md-8">
    {% if possible_playtime_set_private %}
    <p>If you don't see any playtime/price information, you might have your playtime set to private in your steam profile.</p>
    <p><a href="https://help.steampowered.com/en/faqs/view/588C-C67D-0251-C276" target="_blank">Check the Steam Profile Privacy page for more information.</a></p>
    {% endif %}
    <table class="table table-hover" id="ownedGamesTable" data-toggle="table" data-search="true" data-pagination="true">
      <thead>
        <tr>
        <th><i class="bi bi-card-image"></i></th> <!--  Game picture via OwnedGamesDTO.appid -->
        <th data-sortable="true" data-field="id">AppID</th>
        <th data-sortable="true" data-field="name">Name</th>
        <th data-sortable="true" data-field="playtime">Playtime (hours)</th>
        <th data-sortable="true" data-field="price_hour">Price/hour</th>
        <th data-sortable="true" data-field="price">Price (NZD)</th>
      </tr>
      </thead>
      <tbody>
        {% for game in games %}
          <tr class="align-middle">
            <td> 
              <img src="{{ game.icon_url }}" />
            </td>
            <td>{{ game.appid }}</td>
            <td>{{ game.name }}</td>
            <td>{{ game.playtime_forever }}</td>
            <td>{{ game.price_per_hour|default_if_none:"--" }}</td>
            {% if game.game_information.price == 0.00 %}
            <td>0.00 (FREE)</td>
            {% else %}
            <td>{{ game.game_information.price|default_if_none:"--" }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}
