{% extends "base_generic.html" %}
{% block title_status %}{{ player_summary.personaname }} | {% endblock %}
{% block content %}


<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <img src="{{ player_summary.avatarfull }}" style="height: 64px; width: 64px;">
        <div class="d-flex justify-content-between">
          <span><strong>Player Name</strong></span>
          <span>{{ player_summary.personaname }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Player Level</strong></span>
          <span>{{ player_level }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Country Code</strong></span>
          <span>{{ player_summary.loccountrycode }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>SteamID</strong></span>
          <span>{{ steam_ids.steamid }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>SteamID3</strong></span>
          <span>[{{ steam_ids.steamid3 }}]</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Steam32ID</strong></span>
          <span>{{ steam_ids.steam32id }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Steam64ID</strong></span>
          <span>{{ steam_ids.steam64id }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Current Status</strong></span>
          <span>{{ player_summary.personastate }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Last Log Off</strong></span>
          <span>{{ player_summary.lastlogoff }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Private/Public Profile</strong></span>
          <span>{{ player_summary.profilestate }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Profile Creation Date</strong></span>
          <span>{{ player_summary.timecreated }}</span>
        </div>
        <span><strong=><a href="{{ player_summary.profileurl }}" target="_blank">Visit steam profile in a new tab</a></strong>
      </div>      
    </div>
  </div>
</div>

<br />

<div class="row justify-content-center">
  <div class="col-md-8">
    {% if empty_games %}
    <h6>[unknown] games in library</h6>    
    {% else %}
    <h6>{{ owned_games|length }} games in library</h6>
    {% endif %}
  </div>
</div>

{% if empty_games %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <p>Games list or profile is private, cannot display games list</p>
  </div>
</div>
{% else %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <table class="table table-hover" id="ownedGamesTable">
      <thead>
        <tr>
        <th></th> <!--  Game picture via OwnedGamesDTO.appid -->
        <th>Name</th>
        <th>Playtime</th>
        <th>Last played</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
        {% for game in owned_games %}
          <tr class="align-middle">
            <td> 
              <img
                src="https://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_icon_url }}.jpg"
              />
            </td>
            <td>{{ game.name }}</td>
            <td>{{ game.playtime_forever }} hrs</td>
            <td>{{ game.rtime_last_played }}</td> <!-- Can't get last_played anymore, change this to price/hour -->
            <td>{{ game.price_info.final_formatted }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}