{% extends "base_generic.html" %} 

{% block content %}
<div class="container-flud mt-3">
  <div
    class="d-flex flex-column flex-md-row p-4 align-items-center justify-content-center"
  >
    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
  </div>
</div>
{% endblock %}
