{% extends "base_generic.html" %} {% block content %}
<h1>Your Steam Summary</h1>
<div>
  <h3>Player Summary API Call result</h3>
  <pre>
    {{ user_summary }}
    </pre
  >
  <h2>{{ persona_name }}</h2>
  <a href="{{ profile_url }}" target="_blank">Your steam profile</a>
</div>
<div>
  <h3>Owned Games Summary API Call Result</h3>
  <div class="row">
    {% for game in owned_games %}
    <div class="col">
      <img
        src="https://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_icon_url }}.jpg"
      />
      <p>{{ game.name }}, {{ game.playtime_forever }}</p>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
